.controls {
  padding: 30px;
  background-color: #252525;
  border-radius: 8px;
  h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -.67px;
  }
}
