.colorInput {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
    input[type='radio'] {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        position: relative;
        background-color: #fff;
        content: '';
        display: inline-block;
        visibility: visible;
        cursor: pointer; 
        margin: 0px 10px;
    }
    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        position: relative;
        background-color: #5047eb;
        content: '';
        display: inline-block;
        visibility: visible;
        cursor: pointer;
    }
    span {
        padding: 12px 28px;        
        width: 20px;
        height: 5px;
        border-radius: 4px;
        margin-right: 5px;
    }
}